<div style="text-align: center;">


    <div class="p-5 text-white bg-dark rounded-3">
        <h2>Welcome To your Budget Manager</h2>
        <p>Create a wallet and start tracking your expenses or view your existing wallets managing your funds</p>
    </div>
</div>
<div class="container border" style="width:10%;height: 150px;" *ngFor="let data of walletdata">
    <div class="container">

        <p style="text-align: center;margin-top: 10px;">
            {{walletdata.walletname}}
        </p>
        <p style="text-align: center;margin-top: 10px;">
            {{walletdata.walletdescription}}
        </p>

    </div>   
    
</div>

<div class="container border" style="width:10%;height: 150px;">
    <div class="container">

        <p style="text-align: center;margin-top: 10px;">
            Add wallet
        </p>

    </div>
    <a routerLink='budgetmanage' style="text-decoration: none;">
        <span id="container">+</span>
    </a>
</div>

<div class="button btn-primary" routerLink='/wallet'>Route</div> 
