<div class="container-fluid bg-dark">
    <div class="h-100 p-5  bg-dark text-center">
      <h2>Welcome to your Budget Manager !</h2>
      <p>Log your income and expenses and manage your funds </p>
    </div>
  
  
    <div class="bg-dark text-secondary px-4 text-center">
      <h1 class="display-5 ">Current Budget</h1>
  
      <p class="fs-2 mb-6"></p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-outline-light btn-lg px-4">Add income</button>
        <button type="button" class="btn btn-outline-light btn-lg px-4">Add Expense</button>
      </div>
  
    </div>
  </div>